examples/Query Blance of Account.json
[{"id":"5fbc91fc.974cf8","type":"inject","z":"21aefa4f.219a66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["1266d3c6.37370c"]]},{"id":"d3362d14.efb338","type":"debug","z":"21aefa4f.219a66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"1266d3c6.37370c","type":"klever-balance","z":"21aefa4f.219a66","account":"50dc8c77.7f3d94","name":"","x":320,"y":140,"wires":[["d3362d14.efb338"]]},{"id":"8285022d.d10b38","type":"comment","z":"21aefa4f.219a66","name":"Query Balance of Account","info":"","x":130,"y":80,"wires":[]},{"id":"50dc8c77.7f3d94","type":"klever-account","name":"Personal Wallet"}]
