examples/Set Parameter via Code.json
[{"id":"63e9e7ca.f05a18","type":"klever-transaction","z":"21aefa4f.219a66","account":"50dc8c77.7f3d94","name":"","contract":"CONTRACT_TRANSFER","transferReceiver":"","transferAmount":"1","transferAsset":"","freezeAmount":"10","freezeAsset":"KLV","unfreezeBucketID":"","unfreezeAsset":"KLV","delegateReceiver":"","delegateBucketID":"","undelegateBucketID":"","claimClaimType":0,"claimId":"","withdrawAssetId":"","setaccountnameName":"","x":320,"y":540,"wires":[["96e11306.321298"]]},{"id":"1f87f67e.c4987a","type":"inject","z":"21aefa4f.219a66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["44cfe4d3.9aeb24"]]},{"id":"96e11306.321298","type":"debug","z":"21aefa4f.219a66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":600,"wires":[]},{"id":"ba9764e4.fd8d6","type":"comment","z":"21aefa4f.219a66","name":"Set Parameter via Code","info":"","x":130,"y":420,"wires":[]},{"id":"44cfe4d3.9aeb24","type":"function","z":"21aefa4f.219a66","name":"","func":"// For details of all parameter see:\n// https://klever.gitbook.io/kleverchain-sdk/contract-details\nmsg.payload = {\n    \"amount\": 1,\n    \"receiver\": \"klv1vls6rssw5zqt74ne4slgvca9u8npfqk2gxgtk2ctt7wraw5jk32s797fpv\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["63e9e7ca.f05a18"]]},{"id":"50dc8c77.7f3d94","type":"klever-account","name":"Personal Wallet"}]
