examples/Transfer KLV.json
[{"id":"746df058.b07a78","type":"klever-transaction","z":"21aefa4f.219a66","account":"50dc8c77.7f3d94","name":"","contract":"CONTRACT_TRANSFER","transferReceiver":"klv1vls6rssw5zqt74ne4slgvca9u8npfqk2gxgtk2ctt7wraw5jk32s797fpv","transferAmount":"1","transferAsset":"KLV","freezeAmount":"10","freezeAsset":"KLV","unfreezeBucketID":"","unfreezeAsset":"KLV","delegateReceiver":"","delegateBucketID":"","undelegateBucketID":"","claimClaimType":0,"claimId":"","withdrawAssetId":"","setaccountnameName":"","x":320,"y":340,"wires":[["d48ebd35.eb039"]]},{"id":"1d5589e6.668fde","type":"inject","z":"21aefa4f.219a66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["746df058.b07a78"]]},{"id":"d48ebd35.eb039","type":"debug","z":"21aefa4f.219a66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"633c1853.cdb088","type":"comment","z":"21aefa4f.219a66","name":"Query Balance of Account","info":"","x":130,"y":280,"wires":[]},{"id":"50dc8c77.7f3d94","type":"klever-account","name":"Personal Wallet"}]
